@keyframes typing {
    0% {
        content: " |";
    }

    1% {
        content: " L|";
    }

    2% {
        content: " La|";
    }

    3% {
        content: " Lar|";
    }

    4% {
        content: " Larr|";
    }

    5% {
        content: " Larry|";
    }

    6% {
        content: " Larry |";
    }

    7% {
        content: " Larry D|";
    }

    8% {
        content: " Larry Da|";
    }

    9% {
        content: " Larry Dan|";
    }

    10% {
        content: " Larry Dani|";
    }

    11% {
        content: " Larry Danie|";
    }

    12% {
        content: " Larry Daniel|";
    }

    13% {
        content: " Larry Daniels|";
    }

    14% {
        content: " Larry Daniels|";
    }

    15% {
        content: " Larry Daniels|";
    }

    16% {
        content: " Larry Daniels|";
    }

    17% {
        content: " Larry Daniels|";
    }

    18% {
        content: " Larry Daniel|";
    }

    19% {
        content: " Larry Danie|";
    }

    20% {
        content: " Larry Dani|";
    }

    21% {
        content: " Larry Dan|";
    }

    22% {
        content: " Larry Da|";
    }

    23% {
        content: " Larry D|";
    }

    24% {
        content: " Larry |";
    }

    25% {
        content: " Larry|";
    }

    26% {
        content: " Larr|";
    }

    27% {
        content: " Lar|";
    }

    28% {
        content: " La|";
    }

    29% {
        content: " L|";
    }

    30% {
        content: " D|";
    }

    31% {
        content: " De|";
    }

    32% {
        content: " Dev|";
    }

    33% {
        content: " Deve|";
    }

    34% {
        content: " Devel|";
    }

    35% {
        content: " Develo|";
    }

    36% {
        content: " Develop|";
    }

    37% {
        content: " Develope|";
    }

    38% {
        content: " Developer|";
    }

    39% {
        content: " Developer|";
    }

    40% {
        content: " Developer|";
    }

    41% {
        content: " Developer|";
    }

    42% {
        content: " Developer|";
    }

    43% {
        content: " Develope|";
    }

    44% {
        content: " Develop|";
    }

    45% {
        content: " Develo|";
    }

    46% {
        content: " Devel|";
    }

    47% {
        content: " Deve|";
    }

    48% {
        content: " Dev|";
    }

    49% {
        content: " De|";
    }

    50% {
        content: " D|";
    }

    51% {
        content: " |";
    }

    52% {
        content: " D|";
    }

    53% {
        content: " De|";
    }

    54% {
        content: " Des|";
    }

    55% {
        content: " Desi|";
    }

    56% {
        content: " Desig|";
    }

    57% {
        content: " Design|";
    }

    58% {
        content: " Designe|";
    }

    59% {
        content: " Designer|";
    }

    60% {
        content: " Designer|";
    }

    61% {
        content: " Designer|";
    }

    62% {
        content: " Designer|";
    }

    63% {
        content: " Designer|";
    }

    64% {
        content: " Designe|";
    }

    65% {
        content: " Design|";
    }

    66% {
        content: " Desig|";
    }

    67% {
        content: " Desi|";
    }

    68% {
        content: " Des|";
    }

    69% {
        content: " De|";
    }

    70% {
        content: " D|";
    }

    71% {
        content: " |";
    }

}